/*---------------------
  Style for admin menu
  elements.
-----------------------*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* INFO: White theme colors */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --background-image: url("../../img/WallpaperAdminMenu.jpg");
}

/* INFO: Dark theme colors */
.dark-theme {
  --background-color: #000000;
  --text-color: #ffffff;
  --background-image: url("../../img/WallpaperAdminMenuDarkTheme.png");
}

/* #region [Scrollbar style sector.] */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #25313a;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1f2931;
}

::-webkit-scrollbar-thumb:active {
  background-color: #1f2931;
}

::-webkit-scrollbar-track-horizontal {
  background-color: transparent;
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: #25313a;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background-color: #1f2931;
}

::-webkit-scrollbar-thumb-horizontal:active {
  background-color: #1f2931;
}

.scrollbar-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollbar-horizontal::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-horizontal::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-horizontal::-webkit-scrollbar-thumb {
  background-color: #25313a;
  border-radius: 7px;
}

.scrollbar-horizontal::-webkit-scrollbar-thumb:hover {
  background-color: #1f2931;
}

.scrollbar-horizontal::-webkit-scrollbar-thumb:active {
  background-color: #1f2931;
}

/* #endregion */

/* #region [Sector vertical menu styles.] */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 20px 0 20px 20px;
  width: 75px;
  min-height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  /* #fff */
  transition: 0.5s;
  z-index: 1000;
}

.navigation.open {
  width: 250px;
}

.navigation .menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.navigation .menu-toggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--text-color);
  transform: translateY(-8px);
  transition: 0.5s;
}

.navigation .menu-toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--text-color);
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 var(--text-color);
}

.navigation.open .menu-toggle::before {
  transform: translateY(0) rotate(45deg);
}

.navigation.open .menu-toggle::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: none;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation ul li a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 55px;
  height: 55px;
  line-height: 60px;
  color: var(--text-color);
  border-radius: 10px;
  font-size: 1.75rem;
  transition: 0.5s;
}

.navigation ul li.active {
  transform: translateX(30px);
}

.navigation.open ul li.active {
  transform: translateX(10px);
}

.navigation ul li.active a .icon {
  color: var(--background-color);
  background: var(--color);
}

.navigation ul li a .icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--color);
  filter: blur(8px);
  opacity: 0;
  transition: 0.5s;
}

.navigation ul li.active a .icon::before {
  opacity: 0.5;
}

.navigation ul li a .text {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navigation.open ul li a .text {
  opacity: 1;
  visibility: visible;
}

.navigation ul li.active a .text {
  color: var(--color);
}

/* #endregion */

/* #region [Notification good.] */
.success {
  position: fixed;
  top: 30px;
  right: 0;
  display: none;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  width: 320px;
  padding: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #84d65a;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  z-index: 1000;
  animation: slideIn 0.9s ease-out forwards;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #393a37;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #393a37;
}

.success__close {
  margin-left: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.success__close path {
  fill: #393a37;
}

/* #endregion */

/* #region [Error message sector.] */
.error {
  position: fixed;
  top: 30px;
  right: 0;
  align-self: flex-end;
  display: none;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 500px;
  padding: 12px;
  width: 320px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #e91c0d;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  animation: slideIn 0.9s ease-out;
  z-index: 1000;
}

.error-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
}

.error-icon path {
  fill: #fff;
}

.error-title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error-close {
  margin-left: auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.error-close path {
  fill: #fff;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

/* #endregion */

/*---------------------
  Activity sector styles.
-----------------------*/
.activity-content {
}

/*---------------------
  Accounting sector styles.
-----------------------*/
.accounting-content {
}

/* .product-content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-radius: 25px;
} */

/* .product-content input {
  margin-top: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #000;
}

.create-product-button {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #0f6dd8;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
} */

/* #region Edit product sector */

#id-table-container{
  background: var(--background-color);
  color: var(--text-color);
}

#id-manage-product-change-content input {
  background: var(--background-color);
  color: var(--text-color);
}

#id-manage-product-change-content input:hover{
  background: var(--text-color);
  color: var(--background-color);
}

/* #endregion */