/*---------------------
  Style for admin menu 
  elements.
-----------------------*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* INFO: White theme colors */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --background-image: radial-gradient(
      circle at 100% 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      silver 10%,
      silver 23%,
      white 23%,
      white 30%,
      silver 30%,
      silver 43%,
      white 43%,
      white 50%,
      silver 50%,
      silver 63%,
      white 63%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    );
}

/* INFO: Dark theme colors */
.dark-theme {
  --background-color: #000000;
  --text-color: #ffffff;
  --background-image: radial-gradient(
      circle at 100% 150%,
      #333 24%,
      #111 24%,
      #111 28%,
      #333 28%,
      #333 36%,
      #111 36%,
      #111 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #333 24%,
      #111 24%,
      #111 28%,
      #333 28%,
      #333 36%,
      #111 36%,
      #111 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      #111 10%,
      #333 10%,
      #333 23%,
      #111 23%,
      #111 30%,
      #333 30%,
      #333 43%,
      #111 43%,
      #111 50%,
      #333 50%,
      #333 63%,
      #111 63%,
      #111 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      #111 5%,
      #333 5%,
      #333 15%,
      #111 15%,
      #111 20%,
      #333 20%,
      #333 29%,
      #111 29%,
      #111 34%,
      #333 34%,
      #333 44%,
      #111 44%,
      #111 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      #111 5%,
      #333 5%,
      #333 15%,
      #111 15%,
      #111 20%,
      #333 20%,
      #333 29%,
      #111 29%,
      #111 34%,
      #333 34%,
      #333 44%,
      #111 44%,
      #111 49%,
      transparent 49%,
      transparent
    );
}

body {
  background-color: var(--background-color); /*silver*/
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: 100px 50px;
}

/*---------------------
  Scrollbar style 
  sector.
-----------------------*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color); /* #bbbbbb */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color); /* #141414 */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color); /* #000000 */
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--text-color); /* #333 */
}

/*---------------------
  Sector vertical menu 
  styles.
-----------------------*/
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 20px 0 20px 20px;
  width: 75px;
  min-height: 600px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color); /* #fff */
  transition: 0.5s;
}

.navigation.open {
  width: 250px;
}

.navigation .menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--text-color); /* rgba(0, 0, 0, 0.25) */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.navigation .menu-toggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--text-color); /* #333 */
  transform: translateY(-8px);
  transition: 0.5s;
}

.navigation .menu-toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--text-color); /* #333 */
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 var(--text-color); /* #333 */
}

.navigation.open .menu-toggle::before {
  transform: translateY(0) rotate(45deg);
}

.navigation.open .menu-toggle::after {
  transform: translateY(0) rotate(-45deg);
  box-shadow: none;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation ul li a {
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 55px;
  height: 55px;
  line-height: 60px;
  color: var(--text-color); /* #222 */
  border-radius: 10px;
  font-size: 1.75rem;
  transition: 0.5s;
}

.navigation ul li.active {
  transform: translateX(30px);
}

.navigation.open ul li.active {
  transform: translateX(10px);
}

.navigation ul li.active a .icon {
  color: var(--background-color); /* #fff */
  background: var(--color); /* --color */
}

.navigation ul li a .icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--color); /* --color */
  filter: blur(8px);
  opacity: 0;
  transition: 0.5s;
}

.navigation ul li.active a .icon::before {
  opacity: 0.5;
}

.navigation ul li a .text {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--text-color); /* #333 */
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navigation.open ul li a .text {
  opacity: 1;
  visibility: visible;
}

.navigation ul li.active a .text {
  color: var(--color);
}

/*---------------------
  Product sector styles.
-----------------------*/
.products-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px;
  width: 290px;
  height: 354px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: var(--text-color); /* black */
}

.products-card ion-icon {
  margin-top: 50px;
  font-size: 64px;
}

.products-card > p {
  margin-top: 40px;
  font-weight: 500;
  font-size: 14px;
}

.products-card:hover {
  border: 1px solid var(--text-color); /* black */
  transform: scale(1.05);
}

.products-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

/*  Create product sector */

/*---------------------
  Orders sector styles.
-----------------------*/
.orders-content {
}

/*---------------------
  Activity sector styles.
-----------------------*/
.activity-content {
}

/*---------------------
  Reviews sector styles.
-----------------------*/
.reviews-content {
}

/*---------------------
  Accounting sector styles.
-----------------------*/
.accounting-content {
}

/*---------------------
  Settings sector styles.
-----------------------*/
.settings-content {
}

/*---------------------
  Exit sector styles.
-----------------------*/
.exit-content {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.confirmation-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: var(--background-color); /* #fff */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.exit-icon {
  margin: 0 auto 20px;
  margin-left: 42%;
  font-size: 80px;
  color: #ff8c00;
}

.confirmation-card h2 {
  margin: 0 0 10px;
  font-size: 18px;
  color: var(--text-color);
}

.confirmation-card p {
  margin: 0 0 20px;
  font-size: 14px;
  color: var(--text-color); /* #666 */
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.exit-button,
.cancel-button {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 5px;
  padding: 12px 0;
  align-items: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #fff; /* #fff */
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button {
  font-weight: bold;
  background-color: #ab0000;
}

.exit-button {
  background-color: #0f6dd8;
}

.cancel-button:hover {
  background-color: rgb(233, 0, 0);
}

.exit-button:hover {
  background-color: #1180ff;
}

.settings-content {
  background-color: var(--background-color); /* #fff */
  padding: 120px;
  margin: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.crt-product-content {
  display: flex;
  justify-content: center;

  background-color: white;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 450px;
  padding: 30px;
  border-radius: 25px;
  margin: 25px;
  margin-top: 50px;
}

.product-content {
  display: flex;
  padding-top: 20px;
  flex-direction: column;

  border-radius: 25px;
}

.product-content input {
  margin-top: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #000;
}

.create-product-button {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #0f6dd8;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;

#theme-toggle {
  opacity: 0;
  position: absolute;
}

label[for="theme-toggle"] {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  border-radius: 25px;
  position: relative;
  transition: background-color 0.3s ease;
}

label[for="theme-toggle"]::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  width: 23px;
  height: 23px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

#theme-toggle:checked + label[for="theme-toggle"] {
  background-color: var(--background-color);
}

#theme-toggle:checked + label[for="theme-toggle"]::after {
  transform: translateX(24px);
  background-color: var(--text-color);
}